/*#pbLayOutBadgeField input{*/
/*    display: none;*/
/*}*/
.pb-predefine-img{
    display: flex;
    flex-wrap: wrap;
}
.badge-layout input{
    display: none;
}
.badge-layout label{
    margin-top:5px;
    margin-right:20px;
    max-width: 125px;
    display: block;
}
.badge-layout img{
    border: 5px solid transparent;
    width: 100%;

}
.pb-predefine-img input[type="radio"]:checked + img {
    border-color: palevioletred;
}